a {
	@include animate(color);

	text-decoration: none;
}

button,
input {
	@include animate(background-color color);

	&:hover,
	&:focus,
	&:active {
		outline: none;
		box-shadow: none;
	}
}

ul:not([class]):not([id]) {
	@extend %listreset;
}

#wrapper {
	position: relative;
	overflow: hidden;
}

.resize-active {
	* {
		transition: none!important;
	}
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.bordered:not(.intro) {
	border-bottom: 10px solid #eee;
	padding: 30px 0;

	@include media ('>=tablet') {
		border-bottom: 30px solid #eee;
		padding: 50px 0;
	}

	@include media ('>=desktop') {
		padding: 100px 0;
	}
}

.section-head-text {
	font-size: 20px;
	color: #5e6977;
	font-weight: 300;
	line-height: 1.454;
	text-align: center;
	margin: 0 auto 30px auto;
		
	@include media ('>=tablet') {
		max-width: 730px;
		font-size: 22px;
		margin-bottom: 40px;
	}

	h1 {
		color: $white;
		font-weight: 300;

		@include media ('>=tablet') {
			font-size: 52px;
			line-height: 1.115;
			letter-spacing: -2.08px;
			margin-bottom: 20px;
		}
	}

	h2 {
		font-weight: 300;
		line-height: 1.115;
		letter-spacing: -1.08px;
		color: $black;
				
		@include media ('>=tablet') {
			margin-bottom: 12px;
			font-size: 52px;
			letter-spacing: -2.08px;
		}
	}

	h3 {
		font-weight: 500;
		line-height: 1;
		color: #86939e;
		margin-bottom: 10px;

		@include media ('>=tablet') {
			margin-bottom: 14px;
		}
	}
}

.btn {
	@include animate(background-color);

	display: inline-block;
	font-weight: 500;
	text-align: center;
	border: none;
	line-height: 1.187;
	border-radius: 5px;
	color: $white;
	background-color: $green;
	min-width: 165px;
	padding: 20px 10px;

	&:hover {
		background-color: darken($green, 20%);
	}
}

.js-tab-hidden {
	display: block !important;
	left: -9999px !important;
	position: absolute !important;
	top: -9999px !important;
}

.intro {
	padding-top: 70px;
	background-color: $light-blue; 
	overflow: hidden;
	border-bottom: 10px solid #eee;

	@include media ('>=tablet') {
		padding-top: 85px;
		border-bottom: 30px solid #eee;
	}

	@include media ('>=desktop') {
		padding-top: 170px;
	}

	.section-head-text {
		color: rgba($white, .8);

		@include media ('>=tablet') {
			max-width: 600px;
		}
	}

	img {
		display: block;
		margin: 0 auto;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		box-shadow: 0 0 45px rgba(#333,.4);
	}
}

.enter-form {
	margin: 0 auto;

	@include media ('>=tablet') {
		display: flex;
		justify-content: center;
		margin: 65px 0;
	}

	@include media ('>=desktop') {
		margin: 70px 0;
	}

	input[type="email"],
	input[type="password"],
	input[type="text"] {
		height: 45px;
		background-color: rgba(#000, .1);
		border-radius: 5px;
		min-width: 100%;
		line-height: 1.187;
		border: none;
		padding: 0 20px;
		margin: 10px 0;
		color: $white;

		@include media ('>=tablet') {
			height: 60px;
			min-width: 260px;
			margin: 0 10px
		}

		@include media ('>=desktop') {
			min-width: 360px;
		}

		@include placeholder {
			color: rgba($white,.7);
		}
	}

	input[type="password"] {
		padding: 0 45px 0 20px;
		margin-bottom: 10px;

		@include media ('>=tablet') {
			margin-bottom: 0;
		}
	}

	.psw-holder {
		position: relative;

		.password-btn {
			position: absolute;
			right: 20px;
			top: 53%; 
			transform: translateY(-53%);
			border: none;
			background-color: transparent;
			color: rgba($white, .4);
			font-size: 11px;

			&:hover {
				color: $white;
			}
		}
	}

	.btn {
		display: block;
		margin: 10px auto;
		border-radius: 5px;

		@include media ('>=tablet') {
			margin: 0 0 0 10px;
		}
	}
}

.sound {
	.section-head-text {
		font-size: 18px;

		@include media ('>=tablet') {
			margin-bottom: 50px;
			font-size: 20px;
		}

		@include media ('>=desktop') {
			margin-bottom: 100px;
		}
	}

	.description {
		@include media ('>=tablet') {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		color: $light-gray;
		}

		@include media ('>=desktop') {
			justify-content: space-between;
		}

		.item {
			text-align: center;
			margin-bottom: 30px;

			@include media ('>=tablet') {
				width: 33.332%;
				padding: 0 10px;
			}

			@include media ('>=desktop') {
				padding: 0 43px 30px 43px;
			}

			img {
				border-radius: 50%;
				width: 87px;
				height: 87px;
				border: 4px solid #ffffff;
				box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.2);
				margin-bottom: 15px;

				@include media ('>=desktop') {
					margin-bottom: 25px;
				}
			}

			h3 {
				font-weight: 400;
			}
		}
	}
}


.tabset {
	@extend %listreset;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 30px;

	@include media ('>=desktop') {
		margin-bottom: 68px;
	}

	li {
		margin: 0 5px 10px 5px;
				
		@include media ('>=tablet') {
			margin: 0 10px 10px;
		}

		@include media ('>=desktop') {
			margin: 0 11px 10px 11px;
		}

		a {
			display: block;
			padding: 10px;
			color: $light-gray;
			font-weight: 500;
			line-height: 1.187;
			border: 2px solid transparent;
			border-radius: 3em;
			box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);

			@include media ('>=tablet') {
				padding: 10px 23px;
			}
		}

		&.active {
			a {
				border: 2px solid $green;
				border-radius: 3em;
				color: $green;
			}
		}
	}
}

.tabs-holder {
	.tab-content {
		overflow: hidden;
		margin: 0 auto;

		@include media ('>=desktop') {
			margin-bottom: 20px;
		}

		.item {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;

			.block {
				color: $light-gray;
				margin-bottom: 10px;

				@include media ('>=tablet') {
					width: 50%;
					padding: 0 33px;
					margin-bottom: 3px;
				}
				
				h3 {
					line-height: 1.388;
					font-weight: 400;
					margin-bottom: 14px;
				}
			}

			&.active {
				margin: 0 auto;
			}
		}
	}
}

.what {
	.container {
		@include media ('>=tablet') {
			display: flex;
			justify-content: space-between;
		}

		.section-head-text {
			text-align: left;
			font-size: 22px;
			line-height: 1.454;
			

			@include media ('>=tablet') {
				width: 44%;
				margin: 0;
				padding-right: 20px;
			}

			@include media ('>=desktop') {
				padding: 25px 20px 10px 0;
			}

			h2 {
				@include media ('>=tablet') {
					margin-bottom: 20px;
					font-size: 40px;
				}

				@include media ('>=desktop') {
					font-size: 52px;
				}
			}

			p {
				@include media ('>=tablet') {
					margin-bottom: 35px;
				}
			}
		}
	}
}

.programm-icons {
	@extend %listreset;

	display: flex;

	li {
		margin-right: 25px;
		
		a {
			position: relative;
			border-radius: 5px;
			display: inline-block;
			vertical-align: middle;
			border-radius: 7px;
			width: 46px;
			height: 46px;
			background-color: #e1e8ee;

			i {
				@include vhalign;

				position: absolute;
				color: #5e6977;
			}

			i.icon-sketch {
				font-size: 25px;
			}

			i.icon-ps {
				font-size: 17px;
			}
		}
	}
}

.video-holder {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	margin: 0 auto;
	max-width: 350px;

	@include media ('>=tablet') {
		max-width: 440px;
		max-height: 250px;
		margin: 0;
	}

	@include media ('>=desktop') {
		max-width: 540px;
		max-height: 310px;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgba(#3b3d40,.5);
		border-radius: 5px;
	}
	
	img {
		display: block;
	}
	
	.play-btn {
		@include animate(border-color);
		@include vhalign;
		
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 32.5px 0 32.5px 45px;
		border-color: transparent transparent transparent rgba(#f0f5fb,.6);

		@include media ('>=tablet') {
			border-width: 41.5px 0 41.5px 58px;
		}

		&:hover {
			border-color: transparent transparent transparent #fff;
		}
	}
}


